In [234]:
import pandas as pd
import math as mt
import unidecode
import matplotlib.pyplot as plt

In [235]:
df = pd.read_csv("events.csv",low_memory = False)

In [236]:
df.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-31 23:38:05,ad campaign hit,0004b0a2,/comprar/iphone/iphone-5s,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-31 23:38:05,visited site,0004b0a2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Paid,New,Camaragibe,Pernambuco,Brazil,Smartphone,360x640,Android 6,Chrome Mobile 39
2,2018-05-31 23:38:09,viewed product,0004b0a2,NaN,2694.0,iPhone 5s,Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-31 23:38:40,checkout,0004b0a2,NaN,2694.0,iPhone 5s,Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-29 13:29:25,viewed product,0006a21a,NaN,15338.0,Samsung Galaxy S8,Bom,64GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [237]:
df.groupby("event").size()

event
ad campaign hit       82827
brand listing         98635
checkout              33735
conversion             1172
generic listing       67534
lead                    448
search engine hit     50957
searched products     56073
staticpage             3598
viewed product       528931
visited site          87378
dtype: int64

In [238]:
df["person"].size

1011288

In [239]:
df.isnull().sum()

timestamp                         0
event                             0
person                            0
url                          928532
sku                          447450
model                        447004
condition                    447452
storage                      447452
color                        447452
skus                         789589
search_term                  962321
staticpage                  1007690
campaign_source              928492
search_engine                960331
channel                      923910
new_vs_returning             923910
city                         923910
region                       923910
country                      923910
device_type                  923910
screen_resolution            923910
operating_system_version     923910
browser_version              923910
dtype: int64

In [240]:
df["person"].nunique()

27624

In [241]:
df["browser_version"].nunique()

343

In [242]:
df["operating_system_version"].nunique()

121

In [243]:
df["screen_resolution"].nunique()
#hacer algo con un split de x

282

In [244]:
df["device_type"].nunique()

4

In [245]:
df["campaign_source"].nunique()

24

In [246]:
df["search_engine"].nunique()

4

In [247]:
df["condition"].nunique()

5

In [248]:


def size_cal(obj):
    
    #is null
    if( pd.isnull(obj) ):
        return obj
    list = obj.split("x")
    
    #no se que seria
    if(len(list) != 2):
        print(1)
    v0 = pd.to_numeric(list[0])    
    v1 = pd.to_numeric(list[1])
    
    #pantalla ridicula
    if(v1 * 10 < v0 or v0 * 10 < v1):
        return "no"
    area = v0 * v1
    return area
    
    
df["screen_area"] = df["screen_resolution"].apply(size_cal)

In [249]:
df["operating_system_version"].unique()

array([nan, 'Android 6', 'Android 5.1.1', 'Windows 10 ', 'Windows 7 ',
       'Windows 8.1 ', 'Android 7.1.1', 'Android 7', 'iOS 10.2.1',
       'Android 5.0.2', 'Android 4.2.2', 'Android 4.1.2', 'Android 4.4.4',
       'Android 6.0.1', 'Linux ', 'Android 5.1', 'Mac OS X 10.13.5',
       'iOS 11.3', 'Android 7.1.2', 'Windows XP ', 'Android 8',
       'Android 4.3', 'iOS 11.2.2', 'iOS 11.2.5', 'iOS 10.3.3',
       'Android 4.4.2', 'Windows 8 ', 'Android 5', 'iOS 9.3.5',
       'iOS 7.1.2', 'Android 5.0.1', 'iOS 11.4', 'Windows Phone 8.1',
       'Ubuntu ', 'Android 8.1', 'Windows Vista ', 'Mac OS X 10.10.2',
       'iOS 11.2.6', 'Other ', 'Android 4.0.4', 'Android 4.4.3',
       'iOS 11.1.2', 'Chrome OS 10032.86', 'Windows Phone 10',
       'Windows RT ', 'iOS 10.3.2', 'Windows Phone 8', 'iOS 11.2.1',
       'Mac OS X 10.11.6', 'iOS 10.2', 'Mac OS X 10.13.3',
       'Mac OS X 10.6.4', 'Android ', 'iOS 10.0.2', 'Mac OS X 10.13.4',
       'Android 6.1', 'iOS 3.2', 'Mac OS X 10.12.3', 'iOS 11.1',
       'iOS 11.0.1', 'Tizen 3', 'iOS 9.2.1', 'Windows Phone 7.5',
       'Mac OS X 10.12.6', 'Chrome OS 10452.96', 'Ubuntu 10.4',
       'Mac OS X 10.10.5', 'iOS 4', 'iOS 7.1.1', 'iOS 11.2',
       'Mac OS X 10.9.5', 'Mac OS X 10.6.8', 'iOS 10.3.1',
       'Mac OS X 10.10', 'iOS 11.0.3', 'iOS 11.0.2', 'Mac OS X 10.12.5',
       'Mac OS X 10.10.1', 'Mac OS X 10.13.2', 'Android 4.1.1',
       'Chrome OS 10452.99', 'Mac OS X 10.13.1', 'iOS 9.3.4',
       'Mac OS X 10.11.3', 'iOS 8.1', 'iOS 11.1.1', 'iOS 5.0.1', 'iOS 12',
       'Mac OS X 10.11.1', 'iOS 10.1.1', 'iOS 8.1.3',
       'Chrome OS 10032.75', 'Chrome OS 10452.85', 'Tizen 2.4',
       'Android 2.3.6', 'iOS 8.3', 'iOS 8.4', 'iOS 8.1.1',
       'Mac OS X 10.7.5', 'Chrome OS 10176.66', 'Android 3.2',
       'iOS 9.3.2', 'Chrome OS 10323.67', 'Android 6.3', 'iOS 11',
       'Chrome OS 10176.76', 'Chrome OS 10323.62', 'Mac OS X 10.11.4',
       'Android 4.4.1', 'iOS 11.4.1', 'Android 4.0.3', 'iOS 9.1',
       'Android 4.4', 'iOS 10.0.1', 'iOS 6.1.6', 'Android 3.1',
       'Chrome OS 10452.74', 'Mac OS X 10.13', 'Mac OS X 10.10.4',
       'Chrome OS 10575.54', 'Mac OS X 10.10.3', 'Mac OS X 10.6'],
      dtype=object)

In [250]:
OSs = ["Chrome","Android","Mac","iOS","Windows","Linux","Phone","RT","Other","Ubuntu","Tizen"]
def os(obj) :
    if(pd.isnull(obj)):
        return obj
    list = obj.split(" ")
    true_list = []
    for word in list:
        if word in OSs:
            true_list.append(word)
    if( len(true_list) == 0):
        print (' '.join(word for word in list))
    return ' '.join(word for word in true_list)
    
df["OS"] = df["operating_system_version"].apply(os)

In [251]:
df.groupby("OS").size()

OS
Android          41410
Chrome              83
Linux              293
Mac                406
Other               48
Tizen                7
Ubuntu              97
Windows          40984
Windows Phone      497
Windows RT          14
iOS               3539
dtype: int64

#aplicar esto no deja registrar versiones

def engrosar(obj):
    obj = obj.replace("Tizen","Linux")
    obj = obj.replace("Windows RT","Windows Phone")
    obj = obj.replace("Ubuntu","Linux")
    #obj = obj.replace("iOS","Mac")
    return obj

df["OS"] = df["OS"].astype("str").apply(engrosar)

In [252]:
df["OS"].unique()

array([nan, 'Android', 'Windows', 'iOS', 'Linux', 'Mac', 'Windows Phone',
       'Ubuntu', 'Other', 'Chrome', 'Windows RT', 'Tizen'], dtype=object)

In [253]:
df.groupby("OS").size()

OS
Android          41410
Chrome              83
Linux              293
Mac                406
Other               48
Tizen                7
Ubuntu              97
Windows          40984
Windows Phone      497
Windows RT          14
iOS               3539
dtype: int64

In [254]:
BRS = ["Vivaldi","Chrome","Android","Safari","Chromium","Opera","Firefox","UC","Facebook","Edge","Samsung","IE"]
i = 0
def brow(obj) :
    if(pd.isnull(obj)):
        return obj
    if(obj == ""):
        return float("NaN")
    list = obj.split(" ")
    true_list = []
    for word in list:
        if word in BRS:
            true_list.append(word)
    if( len(true_list) == 0):
        #print (' '.join(word for word in list))
        return "Other"
    
    return ' '.join(word for word in true_list)
    
df["browser"] = df["browser_version"].apply(brow)

In [255]:
df["browser"].value_counts()

Chrome      75137
Safari       3402
Firefox      2615
Samsung      1699
Facebook     1415
Edge         1145
Opera         689
IE            643
Android       347
UC            136
Other          72
Chromium       40
Vivaldi        38
Name: browser, dtype: int64

No sirve, solo encuentra 50 dispositivos no detectados en device type


keysb = ["Mobile","Mini","Android","UC","Samsung"]
keysos = ["Android","Phone","RT","iOS"]

def isMob(row):
    brow = row["browser"]
    device = row["device_type"]
    os = row["OS"]
    
    if(device == "Smartphone" or device == "Tablet"):
        return True
    
    if(pd.isnull(brow)):
        lbrow =[]
    else:
        lbrow = brow.split(" ")
    
    if(pd.isnull(os)):
        los =[]
    else:
        los = os.split(" ")
    
    for word in lbrow:
        if word in keysb:
            return True
    
    for word in los:
        if word in keysos:
            return True
    return False

df["Mob"] = df.loc[:,["browser","device_type","OS"]].apply(isMob,axis = 1)

In [256]:
df["dt"] = pd.to_datetime(df["timestamp"])

In [257]:
df["dt"].isnull().unique()

array([False])

In [258]:
df["timestamp"] = df["dt"]

In [259]:
del df["dt"]

In [260]:
BRS = ["Vivaldi","Chrome","Android","Safari","Chromium","Opera","Firefox","UC","Facebook","Edge","Samsung","IE",]
i = 0
def brow(obj) :
    if(pd.isnull(obj)):
        return obj
    if(obj == ""):
        return float("NaN")
    list = obj.split(" ")
    true_list = []
    for word in list:
        if word in BRS:
            true_list.append(word)
    if( len(true_list) == 0):
        #print (' '.join(word for word in list))
        return "Other"
    return ' '.join(word for word in list if word not in true_list)
    
df["b_v"] = df["browser_version"].apply(brow)

In [261]:
#df["b_v"].value_counts()

In [262]:
OSs = ["Chrome","Android","Mac","iOS","Windows","Linux","Phone","RT","Other","Ubuntu","Tizen"]
def os(obj) :
    if(pd.isnull(obj)):
        return obj
    list = obj.split(" ")
    true_list = []
    for word in list:
        if word in OSs:
            true_list.append(word)
    if( len(true_list) == 0):
        print (' '.join(word for word in list))
    return ' '.join(word for word in list if word not in true_list)
    
df["OSV"] = df["operating_system_version"].apply(os)

In [263]:
#df["OSV"].value_counts()

In [264]:
#engrosar colores
df["color"].unique()

array([nan, 'Cinza espacial', 'Dourado', 'Preto', 'Ouro Rosa', 'Branco',
       'Azul', 'Preto Matte', 'Cabernet', 'Rosa', 'Verde',
       'Couro Vintage', 'Prateado', 'Cinza', 'Preto Vermelho',
       'Branco Vermelho', 'Platinum', 'Ouro', 'Azul Topázio',
       'Black Piano', 'Verde Água', 'Cobre', 'Olympic Edition', 'Prata',
       'Couro Marrom', 'Bambu', 'Framboesa', 'Azul Escuro', 'Titânio',
       'Vermelho', 'Preto Brilhante', 'Ametista', 'Branco Pink',
       'Preto Azul', 'Azul Safira', 'Rouge', 'Couro Navy', 'Iuna',
       'Branco Bambu', 'Branco Dourado', 'Branco Azul', 'Amarelo',
       'Branco Framboesa', 'Preto Verde', 'Ônix', 'Branco Verde',
       'Indigo', 'Preto Pink', 'Branco Cabernet', 'Branco Azul Navy',
       'Preto Azul Navy', 'Preto Cabernet', 'Preto Bambu', 'Roxo',
       'Cromo', 'Rose', 'Verde Petroleo', 'Turquesa', 'Preto Branco',
       'Coral', 'Couro Vinho', 'Preto Tabaco', 'Silver', 'Preto Asfalto'],
      dtype=object)

In [265]:
colores = ["Cinza","Dourado","Preto","Rosa","Branco","Azul","Cabernet","Verde","Couro","Prateado","Vermelho","Branco","Platinum","Ouro","Marrom","Bambu","Framboesa","Black","Verde","Cobre","Olympic","Prata","Titânio","Ametista","Pink","Rouge","Iuna","Amarelo","Ônix","Indigo","Roxo","Cromo","Rose","Turquesa","Coral","Vinho","Silver"]
llamativo = ["espacial","Matte","Ouro","Couro","Cromo","Platinum","Topázio","Piano","Água","Edition","Coral","Titânio","Brilhante","Ametista","Safira","Navy","Ônix","Tabaco","Asfalto"]

ambas = colores + llamativo

def color(row) :
    obj = row["color"]
    if(pd.isnull(obj)):
        return obj
    
    if(obj == ""):
        return float("NaN")
    
    list = obj.split(" ")
    true_list = []
    
    for word in list:
        if word in colores:
            true_list.append(word)
            
    value = False
    for word in list:
        if word in llamativo:
                value = True
    row["color_llamativo"] = value
    
    #debug
   # if len(true_list) != len(list):
    #    for word in list:
     #       if word not in ambas:
      #          print (word)
       #         ambas.append(word)
    
    return ' '.join(word for word in true_list)

df["color_llamativo"] = float("NaN")
df["color_simple"] = df.loc[:,["color","color_llamativo"]].apply(color,axis = 1)

In [266]:
df["color_simple"].unique()

array([nan, 'Cinza', 'Dourado', 'Preto', 'Ouro Rosa', 'Branco', 'Azul',
       'Cabernet', 'Rosa', 'Verde', 'Couro', 'Prateado', 'Preto Vermelho',
       'Branco Vermelho', 'Platinum', 'Ouro', 'Black', 'Cobre', 'Olympic',
       'Prata', 'Couro Marrom', 'Bambu', 'Framboesa', 'Titânio',
       'Vermelho', 'Ametista', 'Branco Pink', 'Preto Azul', 'Rouge',
       'Iuna', 'Branco Bambu', 'Branco Dourado', 'Branco Azul', 'Amarelo',
       'Branco Framboesa', 'Preto Verde', 'Ônix', 'Branco Verde',
       'Indigo', 'Preto Pink', 'Branco Cabernet', 'Preto Cabernet',
       'Preto Bambu', 'Roxo', 'Cromo', 'Rose', 'Turquesa', 'Preto Branco',
       'Coral', 'Couro Vinho', 'Silver'], dtype=object)

In [267]:
def color2(obj):
    if(pd.isnull(obj)):
        return obj
    
    obj = obj.replace("Ouro","Dourado")
    obj = obj.replace("Cabernet","Roxo")
    obj = obj.replace("Couro","Marrom")
    obj = obj.replace("Platinum","Prateado")
    obj = obj.replace("Black","Preto")
    obj = obj.replace("Prata","Prateado")
    obj = obj.replace("Bambu","Vermelho")
    obj = obj.replace("Framboesa","Roxo")
    obj = obj.replace("Titânio","Prateado")
    obj = obj.replace("Ametista","Turquesa")
    obj = obj.replace("Pink","Rosa")
    obj = obj.replace("Ônix","Preto")
    obj = obj.replace("Cromo","Prateado")
    obj = obj.replace("Silver","Prateado")
    obj = obj.replace("Verde","Vermelho")
    obj = obj.replace("Rose","Rosa")
    obj = obj.replace("Coral","Rosa")
    return obj
    
df["color_simple"] = df["color_simple"].apply(color2)

In [268]:
df["color_simple"].unique()

array([nan, 'Cinza', 'Dourado', 'Preto', 'Dourado Rosa', 'Branco', 'Azul',
       'Roxo', 'Rosa', 'Vermelho', 'Marrom', 'Prateado', 'Preto Vermelho',
       'Branco Vermelho', 'Cobre', 'Olympic', 'Marrom Marrom', 'Turquesa',
       'Branco Rosa', 'Preto Azul', 'Rouge', 'Iuna', 'Branco Dourado',
       'Branco Azul', 'Amarelo', 'Branco Roxo', 'Indigo', 'Preto Rosa',
       'Preto Roxo', 'Preto Branco', 'Marrom Vinho'], dtype=object)

In [269]:
colores_relevancia = ["Rosa","Vermelho","Marrom","Azul","Dourado","Roxo","Branco"]

def color3(obj):
    if(pd.isnull(obj)):
        return obj
    
    list = obj.split(" ")
    
    if len(list) == 1:
        return obj
    
    for word in list:
        if word in colores_relevancia:
            return word
    
    
    
    
    
    return obj
    
df["color_simple"] = df["color_simple"].apply(color3)

In [270]:
df["color_simple"].value_counts()

Preto       156654
Dourado     151929
Prateado     77185
Cinza        69014
Branco       58977
Rosa         17248
Azul         11081
Vermelho      9784
Turquesa      7420
Roxo          1289
Amarelo        843
Olympic        698
Indigo         659
Marrom         527
Rouge          310
Iuna           138
Cobre           80
Name: color_simple, dtype: int64

In [271]:
event_types = df["event"].unique()

In [274]:
for i in range(0,len(event_types)): 
    dftemp = df.loc[df["event"] == event_types[i]]
    dftemp = dftemp.loc[:, dftemp.notna().any()]
    dftemp.to_csv("frag/events_of_" + event_types[i] + ".csv")

In [273]:
df.to_csv("events_mod1.csv")